extends layout

block content

  p
      a(href='/usuarios/novo' class="btn btn-primary btn-lg" role="button") USUÁRIO
      a(href='/estabelecimentos/novo' class="btn btn-primary btn-lg" role="button") ESTABELECIMENTO
